.MuiDataGrid-root {
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus,
.MuiDataGrid-root .MuiDataGrid-columnHeaderCheckbox,
.MuiDataGrid-root .MuiDataGrid-cellCheckbox {
  outline: none !important;
}

/* column separator */
.MuiDataGrid-columnHeader .MuiDataGrid-columnSeparator {
  visibility: visible !important;
}
.MuiDataGrid-columnHeader:last-child .MuiDataGrid-columnSeparator,
.MuiDataGrid-columnHeader:first-child .MuiDataGrid-columnSeparator {
  visibility: hidden !important;
}

/* pagination */
.Mui-selected {
  background-color: #3961f8 !important;
  color: #ffffff !important;
}

.table-pagination-container {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
